iframe{
	width: 100%;
}

.dos-columnas{
	margin-top: 40px;
}
.formulario{
	float: left;
	width: 80%;
	margin: auto;
	color:#888;
}
.caja-1{
	width: 200px;
	height: 30px;
	margin: 5px;
	padding: 10px;
	font-size: 12px;
	float:left;
}
.caja-2{
	width: 450px;
	height: 80px;
	margin: auto;
	align-self: center;
	padding: 10px;
	font-size: 12px;
	z-index: 7;

}
.contratar-a{
	margin: auto;
z-index: 5;}

footer {
	margin-top: 10px;
	position: relative;
	background: #000;
	text-align: center;
	padding: 15px;
	width: 100%;
	clear: both;
	margin-top: -50px;

	z-index: 2;

}

footer p{
	color: white;

}