@import url('https://fonts.googleapis.com/css?family=Lato');

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	color: #333;
	font-family: rye;
}
h2{
	font-size: 40px;
	color:#222;
	font-weight:bolder;
	text-decoration: all;
}
h3{
	font-family: 'Lato', sans-serif;
	font-size:20px;
	line-height: 1.5;
	padding-top: 25px;
	color:#777;
	font-style: normal;
	letter-spacing: 2px;
}
h4{font-family: 'Lato', sans-serif;
	font-size:15px;
	line-height: 1.5;
	padding-top: 20px;
	padding-bottom:25px;
	font-weight: normal;
	color:#777;
	font-style: normal;
	letter-spacing: 1px;}
h5{
	margin-top:15px;
	font-size:20px;
	text-align: center;
	letter-spacing: 1px;
	
}
p{
	color: #777;
	font-family: carrois;
	font-size: 15px;
	text-align: justify-all;
	padding-top: 10px;
	letter-spacing: 1px;
	text-align: center;
}
.wap{
	width:90%;
	margin:auto;
}
.Inicio{
margin-top: 50px;
text-align: center;
}
.Inicio h2{
	word-spacing: 1.5rem;
	letter-spacing: 2px;
}
.Inicio h3{
	font-family: carrois;
	color:#333
}
.contenedor-columnas{
	width:90%;
	margin: auto;
	padding: 20px 20px;
	box-sizing: border-box;
	margin
	bottom: 50px;
}
.columnastres{
	width:33.333%;
	float:left;
	padding-left: 25px;
	box-sizing: border-box;
	margin:auto;
	padding-bottom: 50px;
}
.columnastres img{
	width: 100%
}
.banner-1{
	width:100%;
	background: #000;
	clear:both;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.banner-1 h3{
	color:#fff;
	letter-spacing: 4px;
	font-size: 10px;
	
}
.Nosotros{
	margin-top: 30px;
text-align: justify;
margin:auto;
width: 75%;
z-index: 1;
}
.Nosotros h2{
	text-align:justify;
	font-size: 30px;
	font-family:"rye";
	letter-spacing: 2px;


}
.Nosotros h3{
	font-size: 17px;
	font-family: carrois;
	padding-bottom: 30px;
	color: #444;
}

.divisionesnosotros{
width: 80%;
margin: auto;

}
.imagennosotros img{
	float: right;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-top: 50px;

	
}
.somos{
	width:50%;
	text-align: justify;
	margin:initial;
	float:left;
	}
.somos h3{
	font-size: 15px;
	padding-bottom: 50px;
	color: #444;
	font-style: normal;
}


.Servicios{
	margin-top: 30px;
text-align: justify;
margin:auto;
width: 100%;
z-index: 7;
}
.Servicios h2{
font-size: 30px;
letter-spacing: 2px;

}
.banner-1 h3{
	color:#fff;
	letter-spacing: 4px;
	font-size: 10px;
	
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:000;
   color: white;
   text-align: center;
}


